@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Khand:wght@500&display=swap');

body {
    font-family: "Barlow", sans-serif;
}    

.navbar-custom {
    background-color: rgb(7, 6, 6);
    font-family: "Barlow";
    font-weight:400;
    color: #ffff
    
}

.navbar-brand img {
    height: 100px;
    float: left;
    margin-right: 7px;
}

.custom-nav a {
    border-radius: 25px;
    background-color: rgb(243, 247, 31);
    color: black !important;
    font-weight: 800;
    text-align: center;
}

.custom-nav a span {
    font-size:large;
    color: rgb(40, 11, 87);
}

.callout-container {
    height: 100vh;

    background: url('../images/star-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}