@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Khand:wght@500&display=swap');

body {
    font-family: "Barlow", sans-serif;
}    

.navbar-custom {
    background-color: rgb(7, 6, 6);
    font-family: "Barlow";
    font-weight:400;
    color: #ffff
    
}

.navbar-brand img {
    height: 100px;
    float: left;
    margin-right: 7px;
}

.custom-nav a {
    border-radius: 25px;
    background-color: rgb(243, 247, 31);
    color: black !important;
    font-weight: 800;
    text-align: center;
}