@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Jost", sans-serif !important;
    background-color: rgb(30, 30, 30) !important;
    color: #a2a2a2 !important;
}

.navbar-custom {
    background-color: rgb(7, 6, 6);
    font-family: "Jost";
    font-weight: 400;
    color: #ffff;

}

.navbar-brand img {
    height: 100px;
    float: left;
    margin-right: 7px;
}    

.custom-nav a {
    border-radius: 25px;
    background-color: yellow;
    color: black !important;
    text-align: center;
}

.custom-nav a:hover {
    background-color:rgb(165, 181, 59);
}

.custom-nav a span {
    font-size: large;
}


.alert-custom {
    color: white;
    background-color: rgb(7, 6, 6);
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.alert-custom button {
    background: none;
    border: none;
    color: yellow;
    font-style: italic;
    padding:0;
}

.alert-custom button:hover {
    
    color: rgb(165, 181, 59);
}

.alert-custom i {
    color: yellow;
}

.modal-custom .modal-content {
    background-color: rgb(48, 48, 48);
          
}

.btn-custom {
    background-color: yellow;
}

.btn-custom:hover {
    background-color: rgb(165, 181, 59);
}
.close {
    color: yellow !important;

}

.callout-container {
    padding-top: 20%;
    padding-bottom: 20%;
    background: url('../images/galaxy-background.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom 25% right 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -20px;

}

#cover-text {
    background-color: rgba(48, 48, 48, 0.5);
    padding: 25px;
    border-radius: 25px;

}

.jumbotron {
    margin-top: -75px;
}

.jumbotron-header {
    color: rgb(248, 248, 248);
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 2px 2px #000000;

}

.fa-solid {
    color: white;
    margin-bottom: 30px;

}

.jumbotron .lead {
    color: white;
    font-weight: 400;

}

.jumbotron small {
    font-size: 80%;
    font-style: italic;
    color: #f0f0f0;

}

.btn-custom {
    background-color: yellow;
    font-weight: 600 !important;
    color: black;
}

#zodiacs {
    margin-bottom:30px;
}


.zodiac-section-header {
    color: rgb(248, 248, 248);
    font-weight: 600
}

.row {
    display: grid;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create 6 equal columns */
.column {
    -ms-flex: 15%;
    /* IE10 */
    flex: 15%;
    max-width: 15%;
    padding: 0 9px;
    ;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height:auto;
}
/* Responsive layout - makes the 3 columns */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 33.3%;
        flex: 33.3%;
        max-width: 33.3%;
    }
}

.thumbnail:hover {
    
    opacity: 0.5;
    transition: .5s ease;
    
}

.display-container {
    height: 100%;
    background: url('../images/galaxy-background.jpg') no-repeat center center fixed ;
    background-size: cover;
    display: flex;
    position: relative;
}

.display-container2 {
    height: 90vh;
    background: url('../images/sun-background.jpg') no-repeat center center ;
    background-size: cover;
    display: flex;
    position: relative;
}

#horoscope-card {
    background-color: rgba(48, 48, 48, 0.75);
    margin-bottom: 1.5rem;
    margin-top:1.5rem;
    border-radius: 25px;
    padding:1.2rem;
}

.headings {
    color: rgb(248, 248, 248);
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px #000000;
}

.sign-up-heading h3 {
    color: yellow;
}

.sign-up-heading span {
    color:yellow;
}

.horoscope-h3-heading {
    color:yellow;
    text-shadow: 2px 2px #000000;
    font-size:1.5rem;
}


.horoscope-card-img {
    mix-blend-mode: multiply;
    width:7rem;
    height:7rem;
    float:right;
    
}

#collapse-show {
    margin-top:1.5rem;
}

.astronovaplus-list {
    list-style-type: none;
    margin: 25px 25px 0 0;
    font-size: 1.2rem;
}


.astronovaplus-list i {
    margin-right: 10px;
    font-size:x-large;
}
 
.text-box {
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 25px;
    margin-top:1rem;
}


.footer {
    background-color: black !important;
    
}

.social-media-icons .btn:hover {
    background-color: yellow;
}